<footer class="m-t-4">
    <section class="footer-note-contact">
        <div class="container">
            <div class="row">
                <div class="col-12 p-t-2">
                    <ul>
                        <li><a href="mailto:anton.simanov@gmail.com" title="anton.simanov@gmail.com"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/antonsimanov/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/AntonSimanov" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/antonsimanov" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/antonsimanov/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
                    </ul>                    
                </div>
            </div>
        </div>
    </section>

    <section class="footer-note">
        <div class="container">
            <div class="row">
                <div class="col-12 p-t-2">
                    <p class="m-0 font-size--xs">Built with <a href="https://simanov.dev/vds/" title="Variable Design System" target="_blank" rel="noopener noreferrer">Variable Design System</a> and some elbow grease.</p>
                    <p class="m-0 font-size--xs">Powered by an open source, twig templating, markdown driven flat-file CMS. Deal with it 🕶️</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="vds-bg--base vds-text--white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 p-y-2 font-size--xs">
                    <i class="fad fa-copyright"></i>
                    <span id="getCurrentYear"></span>
                    <span>Anton Simanov</span>
                </div>
            </div>
        </div>
    </section>
</footer>