.page-header {
    /* padding-top: 45rem; */
    /* background-color: var(--set-color-base); */
    /* color: var(--set-color-white); */
    /* background-image: url(https://www.transparenttextures.com/patterns/stardust.png); */
    padding: 65rem 0 0 0;
}

.post-header img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
}