.intro-card__work {
    background: url(https://antonsimanov.com/user/themes/vds/images/work-bw.jpg) center center no-repeat;
    background-size: auto;
    background-size: cover;
}

// .work ul {
//     list-style-type: disc;
//     margin-left: 1em;
// }

.work a:after {
    display: none;
}